Install
/VS2015/Source/All.VC.db
x64
.vs
/VS2015/Source/12.libwebp/CMakeFiles/CMakeOutput.log
/VS2015/Source/12.libwebp/CMakeFiles/CMakeError.log
webputilsdecode.dir
Debug
Release
webp.dir
webpdecode.dir
webpdecoder.dir
webpdemux.dir
webpdsp.dir
webpdspdecode.dir
webpencode.dir
webputils.dir
/VS2015/Source/12.libwebp/libwebp.VC.db
/VS2015/Source/16.protobuf/CMakeFiles/CMakeOutput.log
/VS2015/Source/16.protobuf/CMakeFiles/CMakeError.log
